doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=1100")
		- var styles = ["css/main.css", "css/grid24.css", "css/header&footer.css", "css/menu.css", "css/front_page.css", "css/bootstrap-theme.css"]
		each style in styles
			link(rel="stylesheet", href=style)
		title Sometitle
	body