- var menu_items = ["collections", "lookbook", "where to buy", "become a retailer"]
- var menu_href = ["collect", "look", "where", "become"]
- var search_countries = ["USA", "France", "Russia", "Australia"]
 - var search_cities = [["New York", "California"], ["Paris", "France"], ["Moscow", "Saint-Petersburg"], ["Sydney", "Melburn"]]